<head>
	<!-- meta -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="alternate" type="application/rss+xml" href="{{site.feed_url}}" />

	{% seo %}

	<!-- styles -->
	<link href="/assets/styles/app.css" media="all" rel="stylesheet" type="text/css" />
	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500|Playfair+Display:400,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Inconsolata:400,700|Merriweather:300,400,900" rel="stylesheet">

	<!--scripts -->
	<script src="/assets/scripts/app.js"></script>
</head>