<article class="">
  <div class="mw8 center cf pa3 pa4-ns pv0-l">
    <div class="fl w-100">
      <div class="project-hero">
        <img class="w-100 v-mid" src="{{ page.project-hero-image }}">
      </div>
    </div>

    <div class="fl w-100 pv4 pv5-l">
      <span class="montserrat ma0 f3 f2-m f1-l fw4 db">
      {{ page.project-title }}
      </span>
    </div>

    <div class="fl w-100 w-25-l pr0 pr4-l">
      <span class="w-20 mb4 tl db">
        <hr class="ba bw1 black">
      </span>

      <div class="client mb4">
        <span class="montserrat ma0 mb2 f6 fw4 tracked ttu db">
          {{ page.client-header }}
        </span>

        <span class="playfair ma0 f5 fw4 lh-copy db">
          {{ page.client-text | markdownify }}
        </span>

        <span class="playfair ma0 f5 fw4 lh-copy db">
          <a class="ma0 link black" href="{{ page.client-url }}" target="_blank">{{ page.client-url-text | markdownify | downcase }} </a>
        </span>
      </div>

      <div class="responsibilities mb4">
        <span class="montserrat ma0 mb2 f6 fw4 tracked ttu db">
          {{ page.responsibilities-header }}
        </span>

        <span class="playfair ma0 f5 fw4 lh-copy db">
          {{ page.responsibilities-text | markdownify | downcase }}
        </span>
      </div>

      <div class="tools">
        <span class="montserrat ma0 mb2 f6 fw4 tracked ttu db">
          {{ page.tools-header }}
        </span>

        <span class="playfair ma0 f5 fw4 lh-copy db">
          {{ page.tools-text | markdownify | downcase }}
        </span>
      </div>
    </div>

    <div class="fl w-100 w-75-l">
      <span class="w-20 mb4 tl db dn-l">
        <hr class="ba bw1 black">
      </span>

      <div class="problem mb4">
        <span class="montserrat ma0 mb2 f4 fw4 tracked ttu db">
          {{ page.problem-header }}
        </span>

        <span class="playfair ma0 f5 fw4 lh-copy db">
          {{ page.problem-text | markdownify }}
        </span>
      </div>

      <div class="project-goal mb4">
        <span class="montserrat ma0 mb2 f4 fw4 tracked ttu db">
          {{ page.project-goal-header }}
        </span>

        <span class="playfair ma0 f5 fw4 lh-copy db">
          {{ page.project-goal-text | markdownify }}
        </span>
      </div>

      <div class="solution mb4">
        <span class="montserrat ma0 mb2 f4 fw4 tracked ttu db">
          {{ page.solution-header }}
        </span>

        <span class="playfair ma0 f5 fw4 lh-copy db">
          {{ page.solution-text | markdownify }}
        </span>
      </div>

      <div class="process mb4">
        <span class="montserrat ma0 mb2 f4 fw4 tracked ttu db">
          {{ page.process-header }}
        </span>

        <span class="playfair ma0 f5 fw4 lh-copy db">
          {{ page.process-text | markdownify }}
        </span>
      </div>
    </div>
    
    <div class="fl w-100">
      <span class="w-100 mb4 tl db">
        <hr class="ba bw1 black">
      </span>
    </div>

    <div class="fl w-100">
      <figure class="ma0 pa0">
        <figcaption class="playfair ma0 mb3 f5 fw4 db">{{ page.image-1-caption }}</figcaption>
        <img class="w-100 v-mid mb4 db" src="{{ page.image-1 }}" alt="{{ page.image-1-caption }}">
      </figure>

      <figure class="ma0 pa0">
        <figcaption class="playfair ma0 mb3 f5 fw4 db">{{ page.image-2-caption }}</figcaption>
        <img class="w-100 v-mid mb4 db" src="{{ page.image-2 }}" alt="{{ page.image-2-caption }}">
      </figure>

      <figure class="ma0 pa0">
        <figcaption class="playfair ma0 mb3 f5 fw4 db">{{ page.image-3-caption }}</figcaption>
        <img class="w-100 v-mid mb4 db" src="{{ page.image-3 }}" alt="{{ page.image-3-caption }}">
      </figure>

      <figure class="ma0 pa0">
        <figcaption class="playfair ma0 mb3 f5 fw4 db">{{ page.image-4-caption }}</figcaption>
        <img class="w-100 v-mid mb4 db" src="{{ page.image-4 }}" alt="{{ page.image-4-caption }}">
      </figure>

      <figure class="ma0 pa0">
        <figcaption class="playfair ma0 mb3 f5 fw4 db">{{ page.image-5-caption }}</figcaption>
        <img class="w-100 v-mid mb4 db" src="{{ page.image-5 }}" alt="{{ page.image-5-caption }}">
      </figure>

      <figure class="ma0 pa0">
        <figcaption class="playfair ma0 mb3 f5 fw4 db">{{ page.image-6-caption }}</figcaption>
        <img class="w-100 v-mid mb4 db" src="{{ page.image-6 }}" alt="{{ page.image-6-caption }}">
      </figure>

      <figure class="ma0 pa0">
        <figcaption class="playfair ma0 mb3 f5 fw4 db">{{ page.image-7-caption }}</figcaption>
        <img class="w-100 v-mid mb4 db" src="{{ page.image-7 }}" alt="{{ page.image-7-caption }}">
      </figure>

      <figure class="ma0 pa0">
        <figcaption class="playfair ma0 mb3 f5 fw4 db">{{ page.image-8-caption }}</figcaption>
        <img class="w-100 v-mid mb4 db" src="{{ page.image-8 }}" alt="{{ page.image-8-caption }}">
      </figure>

      <figure class="ma0 pa0">
        <figcaption class="playfair ma0 mb3 f5 fw4 db">{{ page.image-9-caption }}</figcaption>
        <img class="w-100 v-mid mb4 db" src="{{ page.image-9 }}" alt="{{ page.image-9-caption }}">
      </figure>

      <figure class="ma0 pa0">
        <figcaption class="playfair ma0 mb3 f5 fw4 db">{{ page.image-10-caption }}</figcaption>
        <img class="w-100 v-mid mb4 db" src="{{ page.image-10 }}" alt="{{ page.image-10-caption }}">
      </figure>
    </div>
  </div>
</article>

{% include _global/paginator.html %}