---
layout: default
---

<article class="">
    <div class="mw8 center cf pa3 pa4-ns pv0-l">
        <div class="fl w-100">
            <div class="project-hero">
                <img class="w-100 v-mid" src="{{ page.project-hero-image }}">
            </div>
        </div>

        <div class="fl w-100 pv4 pv5-l">
            <span class="montserrat ma0 f3 f2-ns fw4 db">
                {{ page.project-title }}
            </span>
        </div>

        <div class="fl w-100 w-25-l pr0 pr4-l">
            <span class="w-20 mb4 tl db">
                <hr class="ba bw1 black">
            </span>

            <div class="client mb4">
                <span class="montserrat ma0 mb2 f6 fw4 tracked ttu db">
                    {{ page.client-header }}
                </span>

                <span class="playfair ma0 f5 fw4 lh-copy db">
                    {{ page.client-text | markdownify }}
                </span>

                <span class="playfair ma0 f5 fw4 lh-copy db">
                    <a class="ma0 link black" href="{{ page.client-url }}" target="_blank">{{ page.client-url-text | markdownify |
                        downcase }} </a>
                </span>
            </div>

            <div class="responsibilities mb4">
                <span class="montserrat ma0 mb2 f6 fw4 tracked ttu db">
                    {{ page.responsibilities-header }}
                </span>

                <span class="playfair ma0 f5 fw4 lh-copy db">
                    {{ page.responsibilities-text | markdownify | downcase }}
                </span>
            </div>

            <div class="tools">
                <span class="montserrat ma0 mb2 f6 fw4 tracked ttu db">
                    {{ page.tools-header }}
                </span>

                <span class="playfair ma0 f5 fw4 lh-copy db">
                    {{ page.tools-text | markdownify | downcase }}
                </span>
            </div>
        </div>

        <div class="fl w-100 w-75-l">
            <span class="w-20 mb4 tl db dn-l">
                <hr class="ba bw1 black">
            </span>

            <div class="problem mb4">
                <span class="montserrat ma0 mb2 f4 fw4 tracked ttu db">
                    {{ page.problem-header }}
                </span>

                <span class="playfair ma0 f5 fw4 lh-copy db">
                    {{ page.problem-text | markdownify }}
                </span>
            </div>

            <div class="project-goal mb4">
                <span class="montserrat ma0 mb2 f4 fw4 tracked ttu db">
                    {{ page.project-goal-header }}
                </span>

                <span class="playfair ma0 f5 fw4 lh-copy db">
                    {{ page.project-goal-text | markdownify }}
                </span>
            </div>

            <div class="solution mb4">
                <span class="montserrat ma0 mb2 f4 fw4 tracked ttu db">
                    {{ page.solution-header }}
                </span>

                <span class="playfair ma0 f5 fw4 lh-copy db">
                    {{ page.solution-text | markdownify }}
                </span>
            </div>

            <div class="process mb4">
                <span class="montserrat ma0 mb2 f4 fw4 tracked ttu db">
                    {{ page.process-header }}
                </span>

                <span class="playfair ma0 f5 fw4 lh-copy db">
                    {{ page.process-text | markdownify }}
                </span>
            </div>
        </div>

        <div class="fl w-100">
            <span class="w-100 mb4 tl db">
                <hr class="ba bw1 black">
            </span>
        </div>

        <div class="fl w-100">
            {% if page.image-1 %}
            <figure class="ma0 pa0">
                <figcaption class="playfair ma0 mb3 f5 fw4 db">{{ page.image-1-caption }}</figcaption>
                {% if page.url == "/work/buy-again/" %}
                <img class="w-100 v-mid mb4 db" src="{{ page.image-1 }}" alt="{{ page.image-1-caption }}">
                {% else %}
                <img class="w-100 v-mid mb4 db shadow-2" src="{{ page.image-1 }}" alt="{{ page.image-1-caption }}">
                {% endif %}
            </figure>
            {% endif %}

            {% if page.image-2 %}
            <figure class="ma0 pa0">
                <figcaption class="playfair ma0 mb3 f5 fw4 db">{{ page.image-2-caption }}</figcaption>
                {% if page.url == "/work/buy-again/" %}
                <img class="w-100 v-mid mb4 db" src="{{ page.image-2 }}" alt="{{ page.image-2-caption }}">
                {% else %}
                <img class="w-100 v-mid mb4 db shadow-2" src="{{ page.image-2 }}" alt="{{ page.image-2-caption }}">
                {% endif %}
            </figure>
            {% endif %}

            {% if page.image-3 %}
            <figure class="ma0 pa0">
                <figcaption class="playfair ma0 mb3 f5 fw4 db">{{ page.image-3-caption }}</figcaption>
                <img class="w-100 v-mid mb4 db shadow-2" src="{{ page.image-3 }}" alt="{{ page.image-3-caption }}">
            </figure>
            {% endif %}

            {% if page.image-4 %}
            <figure class="ma0 pa0">
                <figcaption class="playfair ma0 mb3 f5 fw4 db">{{ page.image-4-caption }}</figcaption>
                {% if page.url == "/work/facebook-safety-center/" or page.url == "/work/checkout-redesign/" %}
                <img class="w-100 v-mid mb4 db" src="{{ page.image-4 }}" alt="{{ page.image-4-caption }}">
                {% else %}
                <img class="w-100 v-mid mb4 db shadow-2" src="{{ page.image-4 }}" alt="{{ page.image-4-caption }}">
                {% endif %}
            </figure>
            {% endif %}

            {% if page.image-5 %}
            <figure class="ma0 pa0">
                <figcaption class="playfair ma0 mb3 f5 fw4 db">{{ page.image-5-caption }}</figcaption>
                <img class="w-100 v-mid mb4 db shadow-2" src="{{ page.image-5 }}" alt="{{ page.image-5-caption }}">
            </figure>
            {% endif %}

            {% if page.image-6 %}
            <figure class="ma0 pa0">
                <figcaption class="playfair ma0 mb3 f5 fw4 db">{{ page.image-6-caption }}</figcaption>
                <img class="w-100 v-mid mb4 db shadow-2" src="{{ page.image-6 }}" alt="{{ page.image-6-caption }}">
            </figure>
            {% endif %}

            {% if page.image-7 %}
            <figure class="ma0 pa0">
                <figcaption class="playfair ma0 mb3 f5 fw4 db">{{ page.image-7-caption }}</figcaption>
                <img class="w-100 v-mid mb4 db shadow-2" src="{{ page.image-7 }}" alt="{{ page.image-7-caption }}">
            </figure>
            {% endif %}

            {% if page.image-8 %}
            <figure class="ma0 pa0">
                <figcaption class="playfair ma0 mb3 f5 fw4 db">{{ page.image-8-caption }}</figcaption>
                <img class="w-100 v-mid mb4 db shadow-2" src="{{ page.image-8 }}" alt="{{ page.image-8-caption }}">
            </figure>
            {% endif %}

            {% if page.image-9 %}
            <figure class="ma0 pa0">
                <figcaption class="playfair ma0 mb3 f5 fw4 db">{{ page.image-9-caption }}</figcaption>
                <img class="w-100 v-mid mb4 db shadow-2" src="{{ page.image-9 }}" alt="{{ page.image-9-caption }}">
            </figure>
            {% endif %}

            {% if page.image-10 %}
            <figure class="ma0 pa0">
                <figcaption class="playfair ma0 mb3 f5 fw4 db">{{ page.image-10-caption }}</figcaption>
                <img class="w-100 v-mid mb4 db shadow-2" src="{{ page.image-10 }}" alt="{{ page.image-10-caption }}">
            </figure>
            {% endif %}

            {% if page.pdf-caption %}
            <a class="playfair ma0 mb3 f5 fw4 db black dim link" href="{{ page.pdf }}" target="_blank">
                {{ page.pdf-caption }}
            </a>
            {% endif %}
        </div>
    </div>
</article>

<section class="paginator mt5">
    <div class="mw8 center cf pa3 pa4-ns">
        <div class="tc cf">
            {% if page.next.url %}
            <a class="next dim fr f5 fw3 link pa3 black br1 montserrat db dib-ns" href="{{page.next.url}}">
                {{page.next.title}}
                <svg id="i-chevron-right" viewBox="0 0 32 32" width="12" height="12" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="10%">
                    <path d="M12 30 L24 16 12 2" />
                </svg>
            </a>
            {% endif %}
            {% if page.previous.url %}
            <a class="prev dim fl f5 fw3 link pa3 black br1 montserrat db dib-ns" href="{{page.previous.url}}">
                <svg id="i-chevron-left" viewBox="0 0 32 32" width="12" height="12" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="10%">
                    <path d="M20 30 L8 16 20 2" />
                </svg>
                {{page.previous.title}}
            </a>
            {% endif %}
        </div>
    </div>
</section>
