<section class="introduction">
  <div class="mw8 center cf pa4">
    <div class="fl w-100">
      <span class="ma0 montserrat f5 f4-ns fw4 lh-copy">
        {{ page.introduction | markdownify }}
      </span>
    </div>
  </div>
</section>

<section class="work">
  <div class="mw8 center cf pa4">
    <ul class="list ma0 pa0">
      <li>
        <div class="fl w-100 w-50-ns w5 h5 bg-black-70 ba bw2 white pa1 dim">
          <img class="w-100 v-mid dib" src="http://placecorgi.com/472/244" />
        </div>
      </li>
      <li>
        <div class="fl w-100 w-50-ns w5 h5 bg-black-70 ba bw2 white pa1 dim">
          <img class="w-100 v-mid dib" src="http://placecorgi.com/472/244" />
        </div>
      </li>
      <li>
        <div class="fl w-100 w-50-ns w5 h5 bg-black-70 ba bw2 white pa1 dim">
          <img class="w-100 v-mid dib" src="http://placecorgi.com/472/244" />
        </div>
      </li>
      <li>
        <div class="fl w-100 w-50-ns w5 h5 bg-black-70 ba bw2 white pa1 dim">
          <img class="w-100 v-mid dib" src="http://placecorgi.com/472/244" />
        </div>
      </li>
      <li>
        <div class="fl w-100 w-50-ns w5 h5 bg-black-70 ba bw2 white pa1 dim">
          <img class="w-100 v-mid dib" src="http://placecorgi.com/472/244" />
        </div>
      </li>
      <li>
        <div class="fl w-100 w-50-ns w5 h5 bg-black-70 ba bw2 white pa1 dim">
          <img class="w-100 v-mid dib" src="http://placecorgi.com/472/244" />
        </div>
      </li>
      <li>
        <div class="fl w-100 w-50-ns w5 h5 bg-black-70 ba bw2 white pa1 dim">
          <img class="w-100 v-mid dib" src="http://placecorgi.com/472/244" />
        </div>
      </li>
      <li>
        <div class="fl w-100 w-50-ns w5 h5 bg-black-70 ba bw2 white pa1 dim">
          <img class="w-100 v-mid" src="http://placecorgi.com/472/244" />
        </div>
      </li>
    </ul>
  </div>
</section>