<section class="introduction">
  <div class="mw8 center cf pa4">
    <div class="fl w-100">
      <span class="ma0 montserrat f5 f4-ns fw4 lh-copy">
        {{ page.introduction | markdownify }}
      </span>
    </div>
  </div>
</section>

<section class="work fl w-100 debug">
  <div class="mw8 center cf pa4">
    <ul class="list ma0 pa0">
      {% assign sorted_work = site.work %} 
      {% for posts in sorted_work limit: 8 %}
        <li class="fl w-100 w-50-ns dim">
          <a class="content-card-link db link pa1 ph1" href="{{ posts.url }}">
            <figure class="content-card-image ma0 pa0">
              <img class="db v-mid" src="{{ posts.project-hero-image }}">
            </figure>
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
</section>
