<header role="banner">
	<!-- nav -->
	<div class="mw8 center cf pa3 pa4-ns">
		<nav class="dt w-100" role="navigation">
      <a class="db dtc-l v-mid mid-gray dim w-100 w-25-l tl mb2 mb0-l" href="/" title="Home">
        <div class="h2 w2">
          {% include icons/logo.svg %}
        </div>
      </a>
			<div class="db dtc-l v-mid tl tr-l">
				{% for link in site.data.navigation.primary-nav %}
					<a href="{{ site.url }}{{ link.url }}" class="montserrat f6 fw3 ttu link dim dib black mr3 ml4-l">
						{{ link.title }}
					</a> 
				{% endfor %}
			</div>
		</nav>
	</div>
</header>