<header class="navigation">
  <nav class="db dt-l w-100 border-box mw8 center cf pa4 pv4-l">
    <a class="db dtc-l v-mid mid-gray dim w-100 w-25-l tl mb2 mb0-l" href="/" title="Home">
      <div class="h2 w2">
        {% include icons/logo.svg %}
      </div>
    </a>
    <div class="db dtc-l v-mid w-100 w-75-l tl tr-l">
      <a class="montserrat f6 fw3 ttu link dim dib black mr3 ml4-l" href="#" title="Home">Work</a>
      <a class="montserrat f6 fw3 ttu link dim dib black mr3 ml4-l" href="#" title="How it Works">About</a>
      <a class="montserrat f6 fw3 ttu link dim dib black mr3 ml4-l" href="#" title="Blog">Contact</a>
    </div>
  </nav>
</header>